In [2]:
import pandas as pd
import seaborn as sbn
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('max_columns', 200)

In [13]:
df = pd.read_csv("/Users/sa22/Downloads/EVENTS_RAW-US-f2912929-edc6-4c32-820a-1d45015585a7-2025-02-01_194003.csv")
df.shape

/var/folders/d3/gvkrf42n6cs_vbsl97177w3m0000gn/T/ipykernel_79769/946688990.py:1: DtypeWarning: Columns (2,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/sa22/Downloads/EVENTS_RAW-US-f2912929-edc6-4c32-820a-1d45015585a7-2025-02-01_194003.csv")

(101781, 77)

In [14]:
df.head()

,EVENT_ID,EVENT_NAME,EVENT_NOTES,EVENT_INFO,EVENT_STATUS,EVENT_START_DATETIME,EVENT_END_DATETIME,EVENT_START_LOCAL_DATE,EVENT_START_LOCAL_TIME,ONSALE_START_DATETIME,...,HOT_EVENT,ACCESSIBLE_SEATING_DETAIL,ADA_PHONE,ADA_CUSTOM_COPY,ADA_HOURS,ACCESSIBILITY_INFO,API_ONSALE_START_DATETIME,PLEASE_NOTE,IMPORTANT_INFORMATION,EVENT_END_LOCAL_DATE
0,rZ7HnEZ1AfF6aK,Tonight at the Improv!,NaN,DO NOT PURCHASE TICKETS FROM ANYONE OR ANY OTH...,onsale,2025-03-02T05:30:00Z,NaN,2025-03-01,21:30,2025-01-20T21:00:00Z,...,False,NaN,NaN,NaN,NaN,NaN,2025-01-20T22:00:00Z,This event is 21 and over. Any ticket holder u...,NaN,NaN
1,rZ7HnEZ1AfF6aN,Tonight at the Improv!,NaN,DO NOT PURCHASE TICKETS FROM ANYONE OR ANY OTH...,onsale,2025-03-09T05:30:00Z,NaN,2025-03-08,21:30,2025-01-20T21:00:00Z,...,False,NaN,NaN,NaN,NaN,NaN,2025-01-20T22:00:00Z,This event is 21 and over. Any ticket holder u...,NaN,NaN
2,1ApZkFMGkdiw0WO,Kneecap,NaN,"The Mercury Ballroom is an all-ages, standing ...",onsale,2025-10-04T00:00:00Z,NaN,2025-10-03,20:00,2025-01-31T15:00:00Z,...,False,"For Handicapped Accessible seating, please cal...",NaN,NaN,NaN,NaN,2025-01-31T16:00:00Z,"The Mercury Ballroom is an all-ages, standing ...",NaN,NaN
3,rZ7HnEZ1AfF6aS,Tonight at the Improv!,NaN,DO NOT PURCHASE TICKETS FROM ANYONE OR ANY OTH...,onsale,2025-03-30T02:00:00Z,NaN,2025-03-29,19:00,2025-01-20T21:00:00Z,...,False,NaN,NaN,NaN,NaN,NaN,2025-01-20T22:00:00Z,This event is 21 and over. Any ticket holder u...,NaN,NaN
4,rZ7HnEZ1AfF6ad,Tonight at the Improv!,NaN,DO NOT PURCHASE TICKETS FROM ANYONE OR ANY OTH...,onsale,2025-03-08T06:15:00Z,NaN,2025-03-07,22:15,2025-01-20T21:00:00Z,...,False,NaN,NaN,NaN,NaN,NaN,2025-01-20T22:00:00Z,This event is 21 and over. Any ticket holder u...,NaN,NaN

In [15]:
df.columns

Index(['EVENT_ID', 'EVENT_NAME', 'EVENT_NOTES', 'EVENT_INFO', 'EVENT_STATUS',
       'EVENT_START_DATETIME', 'EVENT_END_DATETIME', 'EVENT_START_LOCAL_DATE',
       'EVENT_START_LOCAL_TIME', 'ONSALE_START_DATETIME',
       'ONSALE_END_DATETIME', 'CLASSIFICATION_SEGMENT', 'CLASSIFICATION_GENRE',
       'CLASSIFICATION_SUB_GENRE', 'EVENT_IMAGE_URL', 'MIN_PRICE', 'MAX_PRICE',
       'CURRENCY', 'ATTRACTION_NAME', 'ATTRACTION_ID', 'ATTRACTION_IMAGE_URL',
       'VENUE_NAME', 'VENUE_ID', 'VENUE_STREET', 'VENUE_CITY',
       'VENUE_STATE_CODE', 'VENUE_COUNTRY_CODE', 'VENUE_LATITUDE',
       'VENUE_LONGITUDE', 'VENUE_ZIP_CODE', 'VENUE_TIMEZONE', 'ATTRACTION_URL',
       'VENUE_URL', 'PRIMARY_EVENT_URL', 'RESALE_EVENT_URL', 'PRESALE_NAME',
       'PRESALE_DATETIME_RANGE', 'LEGACY_EVENT_ID', 'LEGACY_VENUE_ID',
       'LEGACY_ATTRACTION_ID', 'PRESALE_NAME.1', 'PRESALE_DESCRIPTION',
       'PRESALE_START_DATETIME', 'PRESALE_END_DATETIME', 'SOURCE',
       'CLASSIFICATION_TYPE', 'CLASSIFICATION_SUB_TYPE', 'PROMOTER_ID',
       'PROMOTER_NAME', 'CLASSIFICATION_SEGMENT_ID', 'CLASSIFICATION_GENRE_ID',
       'CLASSIFICATION_SUB_GENRE_ID', 'CLASSIFICATION_TYPE_ID',
       'CLASSIFICATION_SUB_TYPE_ID', 'ATTRACTION_CLASSIFICATION_SEGMENT_ID',
       'ATTRACTION_CLASSIFICATION_SEGMENT',
       'ATTRACTION_CLASSIFICATION_GENRE_ID', 'ATTRACTION_CLASSIFICATION_GENRE',
       'ATTRACTION_CLASSIFICATION_SUB_GENRE_ID',
       'ATTRACTION_CLASSIFICATION_SUB_GENRE',
       'ATTRACTION_CLASSIFICATION_TYPE_ID', 'ATTRACTION_CLASSIFICATION_TYPE',
       'ATTRACTION_CLASSIFICATION_SUB_TYPE_ID',
       'ATTRACTION_CLASSIFICATION_SUB_TYPE', 'MIN_PRICE_WITH_FEES',
       'MAX_PRICE_WITH_FEES', 'TRANSACTABLE', 'HOT_EVENT',
       'ACCESSIBLE_SEATING_DETAIL', 'ADA_PHONE', 'ADA_CUSTOM_COPY',
       'ADA_HOURS', 'ACCESSIBILITY_INFO', 'API_ONSALE_START_DATETIME',
       'PLEASE_NOTE', 'IMPORTANT_INFORMATION', 'EVENT_END_LOCAL_DATE'],
      dtype='object')

In [16]:
df.describe()

,MIN_PRICE,MAX_PRICE,VENUE_LATITUDE,VENUE_LONGITUDE,RESALE_EVENT_URL,PRESALE_NAME,PRESALE_DATETIME_RANGE,LEGACY_VENUE_ID,MIN_PRICE_WITH_FEES,MAX_PRICE_WITH_FEES
count,58965.000000,58965.000000,101718.000000,101718.000000,0.0,0.0,0.0,66034.000000,0.0,0.0
mean,44.092417,135.683085,37.598118,-94.564501,NaN,NaN,NaN,216659.147273,NaN,NaN
std,40.883470,407.095267,4.727901,18.994937,NaN,NaN,NaN,158961.520027,NaN,NaN
min,0.000000,0.000000,-87.713192,-159.371111,NaN,NaN,NaN,6.000000,NaN,NaN
25%,24.190000,35.000000,35.955298,-115.170811,NaN,NaN,NaN,57773.000000,NaN,NaN
50%,38.160000,75.000000,37.775500,-88.377197,NaN,NaN,NaN,189524.000000,NaN,NaN
75%,55.000000,126.500000,40.759914,-76.278038,NaN,NaN,NaN,376833.000000,NaN,NaN
max,3216.000000,21000.000000,64.503700,122.269633,NaN,NaN,NaN,491609.000000,NaN,NaN